.keyboard {
  display: flex;
  position: relative;
  user-select: none;
  padding-left: 20px;
  margin-top: 30px;
}

.key {
  position: absolute;  
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-size: 14px;
}

.white {
  background-color: white;  
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.black {
  background-color: black;
  color: white;
  border-radius: 0 0 3px 3px;  
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 0 -15px;
}